{{ if .IsHome }}
<article class="pagecontent home f4 mid-gray lh-copy openingsuren">
<div class="narrow">
{{ else }}
<article class="center cf ph3 ph4-ns mw7 openingsuren">
        <div class="nested-copy-line-height lh-copy f4 nested-links nested-img mid-gray">
{{ end }}
<h3>Openingsuren van het FabLab</h3>
      <div class="notice">
      <p>Normaalgezien tweewekelijks op maandag, van 16u tot 20u. Op feestdagen en tijdens schoolvakanties is het FabLab gesloten.</p></div><p>In deze kalender zie je op welke data het FabLab open is.</p>
      <div class="calendar" id="calendar"></div>
</article>