{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}
    <article class="center cf pv5 ph3 ph4-ns mw7">
      <header>        
        <h1 class="f1">
          {{ .Title }}
        </h1>
      </header>
      <div class="nested-copy-line-height lh-copy f4 nested-links nested-img mid-gray">
        {{ .Content }}
      {{ if eq .Title "Materialen" }} 
      <h2>Prijslijst beschikbare materialen</h2>
        {{ partial "mat-prijslijst.html" .}}
      </div>
      {{ end }}
    </article>
{{ end }}
