{{ if .IsHome }}
<article class="pagecontent home f4 mid-gray lh-copy openingsuren">
<div class="narrow">
{{ else }}
<article class="center cf ph3 ph4-ns mw7 openingsuren">
        <div class="nested-copy-line-height lh-copy f4 nested-links nested-img mid-gray">
{{ end }}
<h3>Openingsuren van het fablab</h3>
      <div class="notice">
	<div class="notice__content"><strong>Opgelet!</strong> Er gelden in het Fablab bijzondere <a href="/gebruik/huisreglement/#corona-maatregelen" >Corona-maatregelen</a>.</div></div>
      <p>Je kan normaalgezien <strong>elke eerste en derde maandag van de maand</strong> in het Fablab terecht, <strong>enkel met <a href="https://calendly.com/fablablier/fablab-sessie" target="_blank">reservering</a></strong>. Op feestdagen en tijdens schoolvakanties is het fablab gesloten.</p><p>In deze kalender zie je op welke data het fablab open is, en welke medewerkers aanwezig zijn.</p>
      <div id="calendar"></div></div>
</article>