{{ if .IsHome }}
<article class="pagecontent home f4 mid-gray lh-copy openingsuren">
<div class="narrow">
{{ else }}
<article class="center cf ph3 ph4-ns mw7 openingsuren">
        <div class="nested-copy-line-height lh-copy f4 nested-links nested-img mid-gray">
{{ end }}
<h3>Openingsuren van het FabLab</h3>
      <div class="notice">
	<div class="notice__content"><strong>Het FabLab is momenteel enkel geopend voor leerlingen van Campus Sint-Ursula en hun ouders.</strong>. We werken er hard aan om spoedig opnieuw toegankelijk te zijn voor het brede publiek.</div></div>
      {{/*  <p>Normaalgezien elke eerste en derde maandag van de maand, van 16u tot 20u. Op feestdagen en tijdens schoolvakanties is het fablab gesloten.</p><p>In deze kalender zie je op welke data het fablab open is, en welke medewerkers aanwezig zijn.</p>  */}}
      <div class="calendar" id="calendar"></div></div>
</article>