{{ if .Site.Menus.main }}
<nav class="topnav" role="navigation">	
	<button class="hamburger">
		<svg viewBox="0 0 20 15" xmlns="http://www.w3.org/2000/svg">
			<rect x="0" y="0" width="20" height="3" />
			<rect x="0" y="6" width="20" height="3" />
			<rect x="0" y="12" width="20" height="3" />
		</svg>Menu
	</button>
	<ul class="navlist leftnav">
		{{ if not ( eq .RelPermalink "/" ) }}
		<li>			
			<a class="homelink" href="/">
				← Home</a>
		</li>
		{{ end }}
	</ul>
	<ul class="navlist rightnav">
		{{ $pageScope := . }}
		{{ range .Site.Menus.main }}
		{{ if or (not (eq .Name "Workshops" )) ( and ( eq .Name "Workshops") (.HasChildren) ) }}
		<li class="{{ if $pageScope.HasMenuCurrent "main" . }}active{{ end }}">
			<a href="{{ .URL }}" title="{{ .Name }} page">
			{{ .Name }}
		</a>
		{{ if .HasChildren }}
		<ul class="subnav">
			{{ range .Children }}
			<li class="{{ if $pageScope.IsMenuCurrent "main" . }}active{{ end }}">
				<a href="{{ .URL }}" title="{{ .Name }} page">
				{{ .Name }}
				</a>
			</li>
			{{ end }}
			</ul>
			{{ end }}
		</li>
		{{ end }}
		{{ end }}
	</ul>
</nav>
{{ end }}
