{{ if ne .Page.Section .psection  }}
<span class="f6 db">{{ humanize .Page.Section }}</span>
{{ end }}
  <h1 class="f3 near-black">
    <a href="{{ .Page.URL }}">
      {{ .Page.Title }}
    </a>
  </h1>
  {{ $linkurl := .Page.URL }}
  {{ with .Page.Params.featuredimage }}
    <figure class="featured">
        <a href="{{ $linkurl }}"><img src="/images/uitrusting/{{ . }}" /></a>
    </figure>
  {{ end }}
  <div class="nested-links f5 lh-copy nested-copy-line-height">
    {{ .Page.Summary  }}
  </div>
